main{
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 50px auto 30px;
}
.main--carousel{
    position: relative;
    display: block;
    background-image: url("./img/case.png");
    background-size: cover;
    width: 400px;
    height: 600px;
}
.main--carousel img{
    position: absolute;
    right: 15px;
    bottom: 56px;
    height: 87%;
}
.information{
    margin: 0 auto 0;
}
footer{
    margin-top:  0px;
}
