main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    margin: 50px auto 30px;
}
.photos{
    display: flex;
    width: 400px;
    height: 600px;
    align-items: center;
}
.photos > img{
    width: 95%;
    height: 95%;
    object-fit: cover;
}
.information{
    margin: 0 auto 0;
}
footer{
    margin-top:  0px;
}